<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans KR' rel='stylesheet'>
    <link href="{{ site.baseurl }}/assets/css/highlight.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/mermaid.css" rel="stylesheet" type="text/css">
    <script type="module" src="{{ site.baseurl }}/assets/js/mermaid.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
    <a class="site-title" href="{{ site.baseurl }}/"><h1>{{ site.title }}</h1></a>
    <main>
    {{ content }}
    </main>
</body>
</html>
