<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base target="_self" href="{{ site.baseurl }}"/>
    <link href='https://fonts.googleapis.com/css?family=Noto Sans KR' rel='stylesheet'>
    <link href="{{ site.baseurl }}/assets/css/highlight.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/assets/css/mermaid.css" rel="stylesheet" type="text/css">
    <script type="module" src="{{ site.baseurl }}/assets/js/mermaid.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
<div class="root">
    <header>
        <div class="site-title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></div>
        {% if site.menu %}
        <div class="menu-button">#</div>
        {% endif %}
    </header>
    <main>
    {{ content }}
    </main>
    {% if site.menu %}
    {% include menu.html %}
    {% endif %}
</body>
</html>
