{% assign filename = page.path | split: "/" | last %}
{% assign command_cwd = "~" | split: "/" | concat: page.categories %}
{% assign command_text = "cat " | append: filename %}
{% include command/index.html cwd = command_cwd text = command_text %}

<article class="post">
<a class="post-title"><h1>{{ page.title }}</h1></a>
<hr/><br/>
{{ content }}
{% if page.tags.size != 0 %}
    <br/>
    <p class="tags">
        {% for tag in page.tags %}
            <a class="post-tag" href="{{ site.baseurl }}/tags#{{ tag | url_encode | replace: '+', '%20' }}">#{{ tag }}</a>
        {% endfor %}
    </p>
{% endif %}
</article>
