.post {
    font-size: 1rem;
    word-spacing: -0.2rem;

    code {
        font-family: Menlo, Monaco, MesloLGS NF, 'Courier New', monospace, "Noto Sans KR";
    }

    .post-tag {
        color: #F5DB71;
    }

    a {
        color: rgb(75, 204, 255);
    }

    a.post-title {
        color: var(--title-color);
    }

    a.post-title > h1 {
        font-weight: 100;
        margin: 0;
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    h5 {
        font-size: 1rem;
    }

    h6 {
        font-size: 0.9rem;
    }

    h2, h3, h4, h5, h6 {
        font-weight: 100;
        line-height: 1.75rem;
        margin-top: 1rem;
        margin-bottom: 0.75rem;
        border-bottom: 1px solid;
        padding-bottom: 0.2rem;
    }

    p, ul, ol {
        margin-bottom: 1rem;
    }

    li {
        line-height: 1.5rem;
    }

    table {
        margin: 5px auto;
        border-collapse: collapse;
    }

    th {
        font-weight: 400;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }

    tr:not(tr:last-child) > td {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }

    th, td {
        padding: 5px 10px;
    }

    pre.highlight {
        margin: 5px 0;
    }

    .highlight {
        word-spacing: 0;
    }

    sub, sup {
        line-height: 0;
    }

    ul ul, ul ol, ol ul, ol ol {
        margin-bottom: 0;
    }

    img, video {
        max-width: 100%;
        max-height: 100%;
    }

    blockquote::before, blockquote::after {
        content: none !important;
    }

    blockquote {
        background-color: rgba(63, 55, 78, 0.3);
        padding: 0.5rem;
        border-left: 0.25rem solid rgb(86, 84, 88);
        margin-bottom: 1rem;
    }

    blockquote *:last-child {
        margin-bottom: 0;
    }

    code.highlighter-rouge {
        color: #f4bf75;
    }
}
