<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<base target="_self" href="{{ site.baseurl }}"/>

<link href='https://fonts.googleapis.com/css?family=Noto Sans KR' rel='stylesheet'>

<link href="{{ site.baseurl }}/assets/css/command.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/highlight.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/mermaid.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/post-list.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/post.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/mathjax.css" rel="stylesheet" type="text/css">
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet" type="text/css">

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
    }
    });
</script>

<script type="module" src="{{ site.baseurl }}/assets/js/mermaid.js"></script>
