<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if page.layout == "post" %}

{% if page.description == null %}
{% assign meta_description = page.content | strip_html | truncatewords: 50 %}
{% else %}
{% assign meta_description = page.description | escape %}
{% endif %}

{% else %}

{% assign meta_description = site.description | default: site.title | escape %}

{% endif %}

{% assign title_text = page.title | default: site.title %}
<title>{{ title_text }}</title>
<meta name="title" content="{{ title_text }}">
<meta name="description" content="{{ meta_description }}">
<meta name="og:url" content="{{ page.url | absolute_url }}">
<meta name="og:title" content="{{ title_text }}">
<meta name="og:description" content="{{ meta_description }}">

<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css" />
<link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/uncon/MesloLGSNF-web-fonts/stylesheet.css" />

<link href="{{ site.css | relative_url }}/main.css?version={{ site.version }}" rel="stylesheet" type="text/css">

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
    }
    });
</script>

<script type="module" src="{{ site.js | relative_url }}/mermaid.js?version={{ site.version }}"></script>
