#categories.single-category .category {
    > h2, > .size {
        display: none;
    }

    > .total-text {
        display: block;
    }

    > .post-list > .post-preview  {
        margin-top: 0.5rem;

        .date {
            float: right;
        }

        .description {
            display: -webkit-box;
        }
    }
}

.category {
    font-family: Menlo, "MesloLGS NF", "Malgun Gothic", "Pretendard Variable", ui-sans-serif, -apple-system, "Apple SD Gothic Neo", sans-serif;

    > .total-text {
        display: none;
    }

    > h2, > .size {
        font-weight: 300;
        font-size: 1rem;
        display: inline-block;
    }

    > .size {
        color: var(--size-color);
        padding-left: 2px;
    }

    > .post-list > .post-preview {
        margin-top: 0;

        .date {
            display: inline;
            float: none;
        }

        .description {
            display: none;
        }
    }
}
