#categories.single-category .category {
    > h2, > .size {
        display: none;
    }

    > .total-text {
        display: block;
    }

    > .post-list > .post-preview {
        margin-top: 1rem;

        .date {
            float: right;
        }
    }
}

.category {
    > .total-text {
        display: none;
    }

    > h2, > .size {
        font-weight: 400;
        font-size: 1rem;
        display: inline-block;
    }

    > .size {
        color: var(--size-color);
        padding-left: 2px;
    }

    > .post-list > .post-preview {
        margin-top: 0;

        .date {
            display: inline;
            float: none;
        }
    }
}
