#series.single-series .series {
    > h2, > .size {
        display: none;
    }

    > .total-text {
        display: block;
    }

    > .post-list > .post-preview {
        margin-top: 0.5rem;

        .date {
            float: right;
        }

        .description {
            display: -webkit-box;
        }
    }
}

.series {
    font-family: Menlo, "MesloLGS NF", "Malgun Gothic", "Pretendard Variable", ui-sans-serif, -apple-system, "Apple SD Gothic Neo", sans-serif;

    > .total-text {
        display: none;
    }
    
    > h2, > .size {
        font-weight: 300;
        font-size: 1rem;
        display: inline-block;
    }

    > .size {
        color: var(--size-color);
        padding-left: 2px;
    }

    > .post-list > .post-preview {
        margin-top: 0;

        .date {
            display: inline;
            float: none;
        }

        .description {
            display: none;
        }
    }
}

.series-sublist {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px rgba(255, 255, 255, 0.1) solid;
    text-align: center;

    font-family: Menlo, "MesloLGS NF", "Malgun Gothic", "Pretendard Variable", ui-sans-serif, -apple-system, "Apple SD Gothic Neo", sans-serif;

    > .name {
        color: #ff8080;

        line-height: normal;
        font-weight: 300;
        font-size: 1.2rem;

        > .size {
            color: var(--size-color);
            display: inline-block;
        }
    }

    .post-preview {
        > .title {
            margin-top: 0.2rem;

            font-size: 1rem;
            
            > a {
                color: #FFFFFF;
            }

            > a:hover {
                color:rgb(75, 204, 255);
            }

            &.current > a {
                color: rgba(255, 255, 255, 0.6);
            }
        }
    }
}

.post-title + hr + .series-sublist {
    padding-top: 0;
    padding-bottom: 1rem;
    border-top: none;
    border-bottom: 1px rgba(255, 255, 255, 0.1) solid;
}
