---
layout: base
---

<h1 hidden>Categories</h1>
<section id="categories">
  {% include command/index.html cwd="~" text="" %}
  <div class="result-success">
    {% for pair in site.categories %}
      {% assign name = pair[0] %}
      {% assign posts = pair[1] %}
      {% include post-list/category.html name=name posts=posts %}
    {% endfor %}
    {% if site.external-posts-category-name %}
      {% assign external-posts = site.posts | where_exp: "post", "post.redirect" %}
      {% include post-list/category.html name=site.external-posts-category-name posts=external-posts description=true %}
    {% endif %}
  </div>
  <p id="category-not-found-error" class="result-error" hidden></p>
  <script>
    function setCommand(command, comment = "") {
      const commandText = document.querySelector('.command > .text');
      commandText.innerHTML = command;

      const commandComment = document.querySelector('.command > .comment');
      commandComment.innerText = comment;
    }
  
    if(location.hash[0] === '#') {
      const category = decodeURIComponent(location.hash.slice(1));
      const categoryElement = document.querySelector(`#-${category}`);

      const category_command_element = document.createElement('a');
      category_command_element.classList.add('command-tag');
      category_command_element.innerText = category;
  
      setCommand(`ls -ltR ${category_command_element.outerHTML}`, `# list posts in ${category} category`);
  
      if(categoryElement !== null) {
        const categories = document.querySelector('#categories');
        categories.classList.add('single-category');
        categoryElement.hidden = false;
      } else {
        const categoryNotFoundError = document.querySelector('#category-not-found-error');
        categoryNotFoundError.innerText = `ls: ${category}: No such file or directory`;
        categoryNotFoundError.hidden = false;
      }
    } else {
      setCommand(`ls -d */`, `# list all categories`);

      const category_post_containers = document.querySelectorAll('.post-list');
      category_post_containers.forEach(category_post_container => {
        category_post_container.hidden = true;
        category_post_container.parentNode.addEventListener('click', () => {
          category_post_container.hidden = !category_post_container.hidden;
        });
      });

      const category_list = document.querySelectorAll('.category');

      category_list.forEach(category => {
        category.hidden = false;
      });
    }
  </script>  
</section>
