.result-error, .result-success {
    margin-top: 5px;
    padding-left: 5px;
}

.result-error {
    background-color: rgba(172, 65, 66, 0.4);
}

.command-tag, .command-category, .path {
    color: #F5DB71;
}

.command {
    font-size: 0.8rem;
    font-family: Menlo, "MesloLGS NF", "Malgun Gothic", "Pretendard Variable", ui-sans-serif, -apple-system, "Apple SD Gothic Neo", sans-serif;

    > * {
        display: inline-block;
    }
    
    > .seperator {
        color: #3af180;
    }
    
    > .comment {
        color: rgba(170, 170, 170, 0.6);
    }
}

.total-text {
    font-family: Menlo, "MesloLGS NF", "Malgun Gothic", "Pretendard Variable", ui-sans-serif, -apple-system, "Apple SD Gothic Neo", sans-serif;
}
