@import "catalog";
@import "menu";
@import "command";

* {
    margin: 0
}

html {
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    font-family: Menlo, Monaco, MesloLGS NF, 'Courier New', monospace, "Noto Sans KR";
}

body {
    color: #FFFFFF;
    background-color: #1c1a2a;
}

.root {
    max-width: 40rem;
    margin: auto;
}

header {
    text-align: center;
    margin-top: 1rem;
}

.site-title > a {
    font-weight: 100;
    color: #858BB9;
    font-size: 1.5rem;
}

.menu-button {
    color: rgb(75, 204, 255);
    text-align: end;
    margin: 0 1rem;
}

.menu-button.active {
    color: #FFFFFF;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    padding: 1rem;
    max-width: 40rem;
    margin: auto;
}

.root {
    min-height: calc(100vh - 5.5rem)
}

footer {
    height: 3rem;
    font-size: 0.9rem;
    max-width: 40rem;
    width: 100%;
    text-align: center;
    margin: 1rem auto 0.5rem;
}

footer a {
    color: rgb(75, 204, 255);
}
