#menu {
    padding: 1rem;
    max-width: 44rem;
    margin: auto;
}

#menu > nav {
    max-width: 28rem;
    margin: 1rem auto 0 auto;
}

.menu-item {
    display: block;
}

a.menu-item {
    margin: 1rem;
}
